language = "bash"
run = "npm start"
entrypoint = "main.sh"

[languages]

[languages.bash]
pattern = "**/{*.sh,*.bash}"

[languages.bash.languageServer]
start = "bash-language-server start"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "bash main.sh"]

[[ports]]
localPort = 34183
externalPort = 80

[[ports]]
localPort = 40687
externalPort = 3000
